<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote text:</strong>
    <%= quote.quote_text %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= quote.publication_year %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

</div>
