<h1>Editing quote list</h1>

<%= render "form", quote_list: @quote_list %>

<br>

<div>
  <%= link_to "Show this quote list", @quote_list %> |
  <%= link_to "Back to quote lists", quote_lists_path %>
</div>
